In [1]:
import pandas as pd
import streamlit as st
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import pickle

In [3]:
hd_data = pd.read_csv("C:/streamlit_project/Heart_disease_cleveland_new.csv")
hd_data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,0,145,233,1,2,150,0,2.3,2,0,2,0
1,67,1,3,160,286,0,2,108,1,1.5,1,3,1,1
2,67,1,3,120,229,0,2,129,1,2.6,1,2,3,1
3,37,1,2,130,250,0,0,187,0,3.5,2,0,1,0
4,41,0,1,130,204,0,2,172,0,1.4,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,0,110,264,0,0,132,0,1.2,1,0,3,1
299,68,1,3,144,193,1,0,141,0,3.4,1,2,3,1
300,57,1,3,130,131,0,0,115,1,1.2,1,1,3,1
301,57,0,1,130,236,0,2,174,0,0.0,1,1,1,1
302,38,1,2,138,175,0,0,173,0,0.0,0,0,1,0

In [6]:
hd_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [50]:
x= hd_data.drop(columns= 'target', axis=1)
print(x)
y= hd_data['target']

x_train, x_test, y_train, y_test = train_test_split(hd_data[['age','sex','trestbps','cp','chol','fbs','restecg','thalach','ca','thal']], hd_data['target'], test_size=0.3, random_state=109)

model = LogisticRegression()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   0       145   233    1        2      150      0      2.3
1     67    1   3       160   286    0        2      108      1      1.5
2     67    1   3       120   229    0        2      129      1      2.6
3     37    1   2       130   250    0        0      187      0      3.5
4     41    0   1       130   204    0        2      172      0      1.4
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   45    1   0       110   264    0        0      132      0      1.2
299   68    1   3       144   193    1        0      141      0      3.4
300   57    1   3       130   131    0        0      115      1      1.2
301   57    0   1       130   236    0        2      174      0      0.0
302   38    1   2       138   175    0        0      173      0      0.0

     slope  ca  thal
0        2   0     2
1        1   3     1
2        1   2     3
3        2   0     1
4        0   0     1
..     ...  ..   ...
298      1   0     3
299      1   2     3
300      1   1     3
301      1   1     1
302      0   0     1

[303 rows x 13 columns]

C:\Users\KP\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [51]:
print("Accuracy:", model.score(x_test,y_test)*100)

Accuracy: 80.21978021978022

In [28]:
from sklearn.tree import DecisionTreeClassifier
#model = DecisionTreeClassifier()
model.fit(x_train,y_train)
y_pred_dt = model.predict(x_test)

In [29]:
print("Accuracy:", model.score(x_test,y_test)*100)

Accuracy: 74.72527472527473

In [30]:
from sklearn.neighbors import KNeighborsClassifier
#model = KNeighborsClassifier()
model.fit(x_train,y_train)
y_pred_knn = model.predict(x_test)

In [25]:
print("Accuracy:", model.score(x_test,y_test)*100)

Accuracy: 63.73626373626373

In [52]:
filename = 'heartdisease.sav'
pickle.dump(model, open(filename, 'wb'))

In [53]:
x_test.head()

     age  sex  trestbps  cp  chol  fbs  restecg  thalach  ca  thal
126   56    0       200   3   288    1        2      133   2     3
128   44    1       120   1   220    0        0      170   0     1
28    43    1       150   3   247    0        0      171   0     1
45    58    1       112   2   230    0        2      165   1     3
266   52    1       128   3   204    1        0      156   0     1

In [54]:
load_model=pickle.load(open(filename, 'rb'))

In [55]:
load_model.predict([[65,0,140,2,140,1,2,140,2,3]])

array([1], dtype=int64)

In [56]:
def results():
    if load_model.predict:
        y_pred=model.predict([[age,sex,trestbps,cp,chol,fbs,restecg,thalach,ca,thal]])
        if prediction == 0:
            print(f'Congratulations!You have a Healthy Heart')
        else:
            print(f'Sorry to say but it seems like you have a Unhealthy Heart')
    return results